.nav-menu {
  @media screen and (max-width: $tablet) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: 796px;
    background-color: rgb(250, 247, 247);
    text-align: left;
    padding: 50px;
    padding-bottom: 48px;

    &.isOpen {
      display: block;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    height: 100%;
  }

  @media screen and (min-width: $desktop) {
    justify-content: space-between;
  }
}

.nav__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-bottom: 200px;

  @media screen and (max-width: 767px) {
    & .item:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-bottom: 0px;
  }
}

.nav__link {
  text-decoration: none;
  display: inline-block;
  color: $texcolor;

  @extend %text500;
  margin-right: 30px;
  font-size: 30px;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    position: relative;
  }

  &.active {
    color: $background;
  }

  &:hover {
    color: $background;
  }

  &.active::after {
    content: '';

    opacity: 1;
    display: block;
    top: 51px;
    cursor: pointer;
    width: 100%;
    height: 4px;
    margin-top: 8px;
    background-color: $background;
    background-size: auto;
    border-radius: 2px;

    @media screen and (min-width: $tablet) {
      position: absolute;
    }
  }
}

.nav__info {
  list-style: none;
  padding: 0px;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    .tell {
      display: none;
    }

    .mail {
      display: none;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 90px;
    padding-top: 15px;
  }

  .icon-contact {
    margin-right: 10px;
  }
}
