%text700 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

%text500 {
  font-weight: 500;
  font-size: 14px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

%text400 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.875;
  font-size: 16px;
  box-shadow: 0px 4px 4px $colorboxshadow;
  border-radius: 4px;
  letter-spacing: 0.06em;
  border: 0;
  cursor: pointer;
  color: $colorwhite;
  background: $background;
}
