.hotels {
  .container {
    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
    }
  }

  .content {
    flex-grow: 1;
    display: block;
    height: 100%;
  }
}
