.hotelList {
  .userList_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    #ant_card {
      border: 1.7px solid rgb(197, 197, 197);
      transform: scale(0.9);
      transition: transform 300ms ease-in-out;

      &:hover {
        border: 3px solid rgb(121, 206, 255);
        transform: scale(1);
        transition: transform 500ms ease-in-out;
      }
    }
  }
}
