.userPage {
  .user_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user {
    width: 250px;
    @extend %text700;
    color: $backgroundFooter;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 3px solid $colorborder-bottom;
    border-radius: 10px;
  }
}
