.header {
  display: flex;
  align-items: center;
  min-height: 60px;
  margin-bottom: 0px;
  border-bottom: 1px solid $colorborder-bottom;
  background-color: white;
  position: relative;

  @media screen and (min-width: $tablet) {
    height: 80px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //width: 100%;
  }
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: $texcolor;
  margin-left: 20px;

  span {
    color: $background;
  }
}

/**************** menu-button **************/
.menu-button {
  display: block;
  border: 0;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $background;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
